.did-result {
}

.did-result .state-finished {
	background-color: lightgreen;
	font-family: monospace;
	padding: 5px;
	margin: 10px;
}

.did-result .state-wait {
	background-color: yellow;
	padding: 5px;
}

.did-result .state-label {
	font-weight: bold;
}

.did-result .state-item {
	font-weight: bold;
}

.did-result .state-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.did-result .state-action {
	background-color: blue;
	padding: 5px;
}

.did-result .state-failed {
	background-color: red;
	padding: 5px;
}

.did-result .identifier-label {
	font-weight: bold;
}

.did-result .identifier {
	font-family: monospace;
}

.did-result .secret-label {
	font-weight: bold;
}

.did-result .secret {
	font-family: monospace;
}
